footer {
    height: 136px;
}

.info {
    padding: 32px 0 0 136px;
    display: flex;
    flex-wrap: wrap;
    width: 50vw;




}

.social {
    position: absolute;
    top: 60px;
    right: 36px;


}