.screenshot {
    background-image: url("/img/coding.jpg");
    position: absolute;
    right: -32vw;
    width: 74vw;
    bottom: 0;
    height: 222px;
    background-size: cover;
    background-repeat: no-repeat;
}

.phone {
    background-image: url("/img/phone.png");
}

.cactus {
    background-image: url("/img/cactus.png");
    position: absolute;
    right: -10vw;
    width: 36vw;

}